@charset "utf-8";
/* CSS Document */
*{
	margin: auto;
}
.khung{
	width: 960px;
	height: 50px;
	border: solid 1px;
}
.timkiem{
	height: 25px;
	float: left;
	transform: translate(20px, 8px)
}
.face{
	float: left;
	transform: translate(0px, 2px)
}
.giua{
	float: left;
	padding-left: 100px
}
.cuoi{
	float: right;
}